# Formatted Zone

In [6]:
# Uncomment to upgrade packages
# !pip install duckdb --pre --upgrade
# % pip install pandas --upgrade --user --quiet
# % pip install xlrd

In [7]:
import duckdb
import pandas as pd

In [8]:
data = pd.read_csv('landing/temporal/madrid.csv', sep=';',header=0, encoding='latin1')
data

,municipio_codigo,municipio_nombre,distrito_codigo,distrito_nombre,barrio_codigo,barrio_nombre,sexo,nacionalidad,poblacion_empadronada
0,79,Madrid,79601,Centro,796011,Palacio,Hombre,Africa,163
1,79,Madrid,79601,Centro,796011,Palacio,Hombre,América Central y del Caribe,83
2,79,Madrid,79601,Centro,796011,Palacio,Hombre,América del Norte,169
3,79,Madrid,79601,Centro,796011,Palacio,Hombre,América del Sur,384
4,79,Madrid,79601,Centro,796011,Palacio,Hombre,Apátridas,1
...,...,...,...,...,...,...,...,...,...
2555,79,Madrid,79621,Barajas,796215,Corralejos,Mujer,Asia,14
2556,79,Madrid,79621,Barajas,796215,Corralejos,Mujer,Oceanía,0
2557,79,Madrid,79621,Barajas,796215,Corralejos,Mujer,Otros países de América,0
2558,79,Madrid,79621,Barajas,796215,Corralejos,Mujer,Resto de Europa,9
2559,79,Madrid,79621,Barajas,796215,Corralejos,Mujer,Unión Europea,3670

In [9]:
household = pd.read_excel('landing/temporal/C14150219.xls',sheet_name='Composicion del hogar',header=[0,1,2,3,4,5,6])
household

                                                                             Ciudad de Madrid  \
     Explotación estadística del Padrón Municipal de Habitantes revisado a 1 de enero de 2019
                                                                           Unnamed: 0_level_2
                                   Hogares por Composición del hogar según Distrito y Sección
                                                                           Unnamed: 0_level_4
                                                                           Distrito / Sección
                                                                           Unnamed: 0_level_6
0                                      Ciudad de Madrid
1                                                   NaN
2                                            01. Centro
3                                                   NaN
4                                                   NaN
..                                                                                        ...
2483                                                NaN
2484                                                NaN
2485                                                NaN
2486                                                NaN
2487  FUENTE: Padrón Municipal de habitantes. Subdir...

                                                                 \

                                             Unnamed: 1_level_2
     Hogares por Composición del hogar según Distrito y Sección
                                             Unnamed: 1_level_4
                                             Distrito / Sección
                                             Unnamed: 1_level_6
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                1001.0
4                                                1002.0
..                                                          ...
2483                                            21031.0
2484                                            21032.0
2485                                            21033.0
2486                                                NaN
2487                                                NaN

                                                                 \

                                             Unnamed: 2_level_2
     Hogares por Composición del hogar según Distrito y Sección
                                             Unnamed: 2_level_4
                                                          Total
                                             Unnamed: 2_level_6
0                                             1290164.0
1                                                   NaN
2                                               67296.0
3                                                 559.0
4                                                 471.0
..                                                          ...
2483                                              948.0
2484                                              658.0
2485                                              907.0
2486                                                NaN
2487                                                NaN

                                                                 \

                                             Unnamed: 3_level_2
     Hogares por Composición del hogar según Distrito y Sección
                                   Composición del hogar (tipo)
                                Una mujer sola de 16 a 64 años
                                             Unnamed: 3_level_6
0                                              117454.0
1                                                   NaN
2                                               11627.0
3                                                  67.0
4                                                  99.0
..                                                          ...
2483                                               99.0
2484                                               72.0
2485                                              129.0
2486                                                NaN
2487                                                NaN

                                                                 \

                                             Unnamed: 4_level_2
     Hogares por Composición del hogar según Distrito y Sección
                                   Composición del hogar (tipo)
                                 Un hombre solo de 16 a 64 años
                                             Unnamed: 4_level_6
0                                              115691.0
1                                                   NaN
2                                               13352.0
3                                                  88.0
4                                                  89.0
..                                                          ...
2483                                               94.0
2484                                               67.0
2485                                              136.0
2486                                                NaN
2487                                                NaN

                                                                 \

                                             Unnamed: 5_level_2
     Hogares por Composición del hogar según Distrito y Sección
                                   Composición del hogar (tipo)
                                Una mujer sola de 65 o más años
                                             Unnamed: 5_level_6
0                                              126044.0
1                                                   NaN
2                                                5117.0
3                                                  62.0
4                                                  36.0
..                                                          ...
2483                                               14.0
2484                                               18.0
2485                                                9.0
2486                                                NaN
2487                                                NaN

                                                                 \

                                             Unnamed: 6_level_2
     Hogares por Composición del hogar según Distrito y Sección
                                   Composición del hogar (tipo)
                                Un hombre solo de 65 o más años
                                             Unnamed: 6_level_6
0                                               36720.0
1                                                   NaN
2                                                2171.0
3                                                  16.0
4                                                  15.0
..                                                          ...
2483                                                7.0
2484                                                6.0
2485                                                5.0
2486                                                NaN
2487                                                NaN

                                                                 \

                                             Unnamed: 7_level_2
     Hogares por Composición del hogar según Distrito y Sección
                                   Composición del hogar (tipo)
                        Una mujer adulta  con uno o más menores
                                             Unnamed: 7_level_6
0                                               27171.0
1                                                   NaN
2                                                 922.0
3                                                   9.0
4                                                   5.0
..                                                          ...
2483                                               41.0
2484                                               33.0
2485                                               86.0
2486                                                NaN
2487                                                NaN

                                                                 \

                                             Unnamed: 8_level_2
     Hogares por Composición del hogar según Distrito y Sección
                                   Composición del hogar (tipo)
                        Un hombre adulto  con uno o más menores
                                             Unnamed: 8_level_6
0                                                5491.0
1                                                   NaN
2                                                 194.0
3                                                   4.0
4                                                   3.0
..                                                          ...
2483                                                8.0
2484                                               13.0
2485                                               15.0
2486                                                NaN
2487                                                NaN

                                                                 ...  \
                                                                 ...
                                             Unnamed: 9_level_2  ...
     Hogares por Composición del hogar según Distrito y Sección  ...
                                   Composición del hogar (tipo)  ...
                       Dos adultos de 16 a 64 años, sin menores  ...
                                             Unnamed: 9_level_6  ...
0                                              158487.0          ...
1                                                   NaN          ...
2                                               12698.0          ...
3                                                 101.0          ...
4                                                  84.0          ...
..                                                          ...  ...
2483                                              155.0          ...
2484                                               94.0          ...
2485                                              123.0          ...
2486                                                NaN          ...
2487                                                NaN          ...

                                                                    \

                                               Unnamed: 15_level_2
        Hogares por Composición del hogar según Distrito y Sección
                                      Composición del hogar (tipo)
     Dos adultos de 35 años o más, otro de 16 a 34 años y un menor
                                               Unnamed: 15_level_6
0                                               25045.0
1                                                   NaN
2                                                 484.0
3                                                   3.0
4                                                   4.0
..                                                             ...
2483                                               23.0
2484                                               18.0
2485                                               11.0
2486                                                NaN
2487                                                NaN

                                                                             \

                                                        Unnamed: 16_level_2
                 Hogares por Composición del hogar según Distrito y Sección
                                               Composición del hogar (tipo)
     Dos adultos de 35 años o más, otro de 16 a 34 años y dos o más menores
                                                        Unnamed: 16_level_6
0                                                9057.0
1                                                   NaN
2                                                 214.0
3                                                   1.0
4                                                   0.0
..                                                                      ...
2483                                                6.0
2484                                                3.0
2485                                                6.0
2486                                                NaN
2487                                                NaN

                                                                 \

                                            Unnamed: 17_level_2
     Hogares por Composición del hogar según Distrito y Sección
                                   Composición del hogar (tipo)
                  Otro hogar de tres adultos, con o sin menores
                                            Unnamed: 17_level_6
0                                              104079.0
1                                                   NaN
2                                                4341.0
3                                                  35.0
4                                                  41.0
..                                                          ...
2483                                               29.0
2484                                               22.0
2485                                               43.0
2486                                                NaN
2487                                                NaN

                                                                     \

                                                Unnamed: 18_level_2
         Hogares por Composición del hogar según Distrito y Sección
                                       Composición del hogar (tipo)
     Dos adultos de 35 años o más, dos de 16 a 34 años, sin menores
                                                Unnamed: 18_level_6
0                                               51419.0
1                                                   NaN
2                                                1062.0
3                                                  11.0
4                                                  11.0
..                                                              ...
2483                                               25.0
2484                                               27.0
2485                                               12.0
2486                                                NaN
2487                                                NaN

                                                                   \

                                              Unnamed: 19_level_2
       Hogares por Composición del hogar según Distrito y Sección
                                     Composición del hogar (tipo)
     Dos adultos de 35 años o más, dos de 16 a 34 años y un menor
                                              Unnamed: 19_level_6
0                                                8009.0
1                                                   NaN
2                                                 184.0
3                                                   4.0
4                                                   1.0
..                                                            ...
2483                                                6.0
2484                                                7.0
2485                                                2.0
2486                                                NaN
2487                                                NaN

                                                                             \

                                                        Unnamed: 20_level_2
                 Hogares por Composición del hogar según Distrito y Sección
                                               Composición del hogar (tipo)
     Dos adultos de 35 años o más, dos  de 16 a 34 años y dos o más menores
                                                        Unnamed: 20_level_6
0                                                3438.0
1                                                   NaN
2                                                  84.0
3                                                   2.0
4                                                   0.0
..                                                                      ...
2483                                                0.0
2484                                                0.0
2485                                                1.0
2486                                                NaN
2487                                                NaN

                                                                 \

                                            Unnamed: 21_level_2
     Hogares por Composición del hogar según Distrito y Sección
                                   Composición del hogar (tipo)
                Otro hogar de cuatro adultos, con o sin menores
                                            Unnamed: 21_level_6
0                                               46977.0
1                                                   NaN
2                                                1711.0
3                                                  13.0
4                                                  13.0
..                                                          ...
2483                                               17.0
2484                                                6.0
2485                                               11.0
2486                                                NaN
2487                                                NaN

                                                                 \

                                            Unnamed: 22_level_2
     Hogares por Composición del hogar según Distrito y Sección
                                   Composición del hogar (tipo)
                         Cinco o más adultos, con o sin menores
                                            Unnamed: 22_level_6
0                                               53887.0
1                                                   NaN
2                                                1934.0
3                                                  17.0
4                                                  12.0
..                                                          ...
2483                                               23.0
2484                                                9.0
2485                                               13.0
2486                                                NaN
2487                                                NaN

                                                                 \

                                            Unnamed: 23_level_2
     Hogares por Composición del hogar según Distrito y Sección
                                   Composición del hogar (tipo)
                                  Hogar con 15 ó más habitantes
                                            Unnamed: 23_level_6
0                                                 552.0
1                                                   NaN
2                                                  44.0
3                                                   0.0
4                                                   0.0
..                                                          ...
2483                                                0.0
2484                                                1.0
2485                                                3.0
2486                                                NaN

In [10]:
# connect to an in-memory temporary database
con = duckdb.connect()
con.register("madrid_df", data)
con.execute("SELECT municipio_codigo FROM madrid_df WHERE distrito_nombre = 'Arganzuela'").fetchdf()

     municipio_codigo
0                  79
1                  79
2                  79
3                  79
4                  79
..                ...
135                79
136                79
137                79
138                79
139                79

[140 rows x 1 columns]