# Formatted zone

In [ ]:
# ! pip install duckdb

In [16]:
import duckdb 
import sqlalchemy

%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
column_names = ['section','delete','total','alone_w_16-64','alone_m_16-64','alone_w_+65','alone_m_+65','adult_w_+1ch','adult_m_+1ch','2adults_16-64_0ch','2adults_ALO+65_0ch','2adults_1ch','2adults_2ch','2adults_+3ch','2adults_+35_1adult_16-34','2adults_+35_1adult_16-34_1ch','2adults_+35_1adult_16-34_2ch','3adults_+0ch','2adults_+35_2adults_16-34','2adults_+35_2adults_16-34_1ch','2adults_+35_2adults_16-34_+2ch','4adults_+0ch','5_adults_+0ch','+15ppl','only_childs']

def column_join(year):
    return map(lambda x: f'{year}_{x}',column_names)

In [18]:
columns = 

con = duckdb.connect('household.duckdb')
query = f"SELECT {columns} FROM household18 h1 "
query += "FULL OUTER JOIN household19 h2 ON h1.section = h2.section"
query += "FULL OUTER JOIN household20 h3 ON h2.section = h3.section"
con.execute(query)

,section,total,alone_w_16-64,alone_m_16-64,alone_w_+65,alone_m_+65,adult_w_+1ch,adult_m_+1ch,2adults_16-64_0ch,2adults_ALO+65_0ch,...,2adults_+35_1adult_16-34_1ch_2,2adults_+35_1adult_16-34_2ch_2,3adults_+0ch_2,2adults_+35_2adults_16-34_2,2adults_+35_2adults_16-34_1ch_2,2adults_+35_2adults_16-34_+2ch_2,4adults_+0ch_2,5_adults_+0ch_2,+15ppl_2,only_childs_2
0,Ciudad de Madrid,1278258.0,116921.0,114806.0,124815.0,35963.0,27460.0,5488.0,156118.0,173809.0,...,25045.0,9057.0,104079.0,51419.0,8009.0,3438.0,46977.0,53887.0,552.0,405.0
1,01. Centro,66411.0,11695.0,13210.0,5173.0,2142.0,970.0,191.0,12277.0,5164.0,...,484.0,214.0,4341.0,1062.0,184.0,84.0,1711.0,1934.0,44.0,33.0
2,1001.0,542.0,72.0,86.0,63.0,16.0,10.0,4.0,82.0,63.0,...,3.0,1.0,35.0,11.0,4.0,2.0,13.0,17.0,0.0,1.0
3,1002.0,481.0,100.0,91.0,36.0,19.0,7.0,0.0,89.0,28.0,...,4.0,0.0,41.0,11.0,1.0,0.0,13.0,12.0,0.0,0.0
4,1003.0,884.0,154.0,179.0,74.0,40.0,13.0,2.0,141.0,77.0,...,16.0,2.0,54.0,16.0,5.0,1.0,20.0,35.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2460,21032.0,627.0,65.0,71.0,17.0,4.0,27.0,13.0,82.0,23.0,...,18.0,3.0,22.0,27.0,7.0,0.0,6.0,9.0,1.0,2.0
2461,21033.0,775.0,105.0,127.0,7.0,3.0,67.0,11.0,111.0,14.0,...,11.0,6.0,43.0,12.0,2.0,1.0,11.0,13.0,3.0,1.0
2462,17042.0,473.0,18.0,35.0,38.0,12.0,14.0,2.0,54.0,60.0,...,12.0,9.0,53.0,15.0,5.0,3.0,35.0,54.0,2.0,0.0
2463,18006.0,445.0,24.0,44.0,40.0,9.0,15.0,3.0,52.0,53.0,...,12.0,7.0,30.0,15.0,2.0,2.0,21.0,47.0,0.0,0.0
2464,20. San Blas-Canillejas,59462.0,4200.0,4747.0,5239.0,1493.0,1520.0,274.0,7074.0,7573.0,...,1970.0,451.0,4525.0,3094.0,414.0,152.0,1997.0,2148.0,19.0,26.0

In [15]:
con.execute("SELECT DISTINCT ON ('Distrito / Sección') FROM household20").df()

ParserException: Parser Error: syntax error at or near "FROM"
LINE 1: ...LECT DISTINCT ON ('Distrito / Sección') FROM household20
                                                  ^