# Formatted Zone

In [6]:
# Uncomment to upgrade packages
# !pip install duckdb --pre --upgrade
# % pip install pandas --upgrade --user --quiet
# % pip install xlrd

Defaulting to user installation because normal site-packages is not writeable
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.5/96.5 KB 404.7 kB/s eta 0:00:00 kB/s eta 0:00:01:01
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [2]:
import duckdb
import pandas as pd

In [3]:
data = pd.read_csv('landing/temporal/madrid.csv', sep=';',header=0, encoding='latin1')
data

,municipio_codigo,municipio_nombre,distrito_codigo,distrito_nombre,barrio_codigo,barrio_nombre,sexo,nacionalidad,poblacion_empadronada
0,79,Madrid,79601,Centro,796011,Palacio,Hombre,Africa,163
1,79,Madrid,79601,Centro,796011,Palacio,Hombre,América Central y del Caribe,83
2,79,Madrid,79601,Centro,796011,Palacio,Hombre,América del Norte,169
3,79,Madrid,79601,Centro,796011,Palacio,Hombre,América del Sur,384
4,79,Madrid,79601,Centro,796011,Palacio,Hombre,Apátridas,1
...,...,...,...,...,...,...,...,...,...
2555,79,Madrid,79621,Barajas,796215,Corralejos,Mujer,Asia,14
2556,79,Madrid,79621,Barajas,796215,Corralejos,Mujer,Oceanía,0
2557,79,Madrid,79621,Barajas,796215,Corralejos,Mujer,Otros países de América,0
2558,79,Madrid,79621,Barajas,796215,Corralejos,Mujer,Resto de Europa,9
2559,79,Madrid,79621,Barajas,796215,Corralejos,Mujer,Unión Europea,3670

In [10]:
household = pd.read_excel('landing/temporal/C14150219.xls',sheet_name='Composicion del hogar',header=[0,1])
household

                                                                             Ciudad de Madrid  \
     Explotación estadística del Padrón Municipal de Habitantes revisado a 1 de enero de 2019
0                                                   NaN
1     Hogares por Composición del hogar según Distri...
2                                    Distrito / Sección
3                                                   NaN
4                                                   NaN
...                                                 ...
2488                                                NaN
2489                                                NaN
2490                                                NaN
2491                                                NaN
2492  FUENTE: Padrón Municipal de habitantes. Subdir...

                                                                                                 \
     Explotación estadística del Padrón Municipal de Habitantes revisado a 1 de enero de 2019.1
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
2488                                            21031.0
2489                                            21032.0
2490                                            21033.0
2491                                                NaN
2492                                                NaN

                                                                                                 \
     Explotación estadística del Padrón Municipal de Habitantes revisado a 1 de enero de 2019.2
0                                                   NaN
1                                                   NaN
2                                                 Total
3                                                   NaN
4                                                   NaN
...                                                 ...
2488                                                948
2489                                                658
2490                                                907
2491                                                NaN
2492                                                NaN

                                                                                                 \
     Explotación estadística del Padrón Municipal de Habitantes revisado a 1 de enero de 2019.3
0                                                   NaN
1                                                   NaN
2                          Composición del hogar (tipo)
3                       Una mujer sola de 16 a 64 años
4                                                   NaN
...                                                 ...
2488                                                 99
2489                                                 72
2490                                                129
2491                                                NaN
2492                                                NaN

                                                                                                 \
     Explotación estadística del Padrón Municipal de Habitantes revisado a 1 de enero de 2019.4
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                        Un hombre solo de 16 a 64 años
4                                                   NaN
...                                                 ...
2488                                                 94
2489                                                 67
2490                                                136
2491                                                NaN
2492                                                NaN

                                                                                                 \
     Explotación estadística del Padrón Municipal de Habitantes revisado a 1 de enero de 2019.5
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                       Una mujer sola de 65 o más años
4                                                   NaN
...                                                 ...
2488                                                 14
2489                                                 18
2490                                                  9
2491                                                NaN
2492                                                NaN

                                                                                                 \
     Explotación estadística del Padrón Municipal de Habitantes revisado a 1 de enero de 2019.6
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                       Un hombre solo de 65 o más años
4                                                   NaN
...                                                 ...
2488                                                  7
2489                                                  6
2490                                                  5
2491                                                NaN
2492                                                NaN

                                                                                                 \
     Explotación estadística del Padrón Municipal de Habitantes revisado a 1 de enero de 2019.7
0                                                   NaN
1                                                   NaN
2                                                   NaN
3               Una mujer adulta  con uno o más menores
4                                                   NaN
...                                                 ...
2488                                                 41
2489                                                 33
2490                                                 86
2491                                                NaN
2492                                                NaN

                                                                                                 \
     Explotación estadística del Padrón Municipal de Habitantes revisado a 1 de enero de 2019.8
0                                                   NaN
1                                                   NaN
2                                                   NaN
3               Un hombre adulto  con uno o más menores
4                                                   NaN
...                                                 ...
2488                                                  8
2489                                                 13
2490                                                 15
2491                                                NaN
2492                                                NaN

                                                                                                 \
     Explotación estadística del Padrón Municipal de Habitantes revisado a 1 de enero de 2019.9
0                                                   NaN
1                                                   NaN
2                                                   NaN
3              Dos adultos de 16 a 64 años, sin menores
4                                                   NaN
...                                                 ...
2488                                                155
2489                                                 94
2490                                                123
2491                                                NaN
2492                                                NaN

      ...  \
      ...
0     ...
1     ...
2     ...
3     ...
4     ...
...   ...
2488  ...
2489  ...
2490  ...
2491  ...
2492  ...

                                                                                                  \
     Explotación estadística del Padrón Municipal de Habitantes revisado a 1 de enero de 2019.15
0                                                   NaN
1                                                   NaN
2                                                   NaN
3     Dos adultos de 35 años o más, otro de 16 a 34 ...
4                                                   NaN
...                                                 ...
2488                                                 23
2489                                                 18
2490                                                 11
2491                                                NaN
2492                                                NaN

                                                                                                  \
     Explotación estadística del Padrón Municipal de Habitantes revisado a 1 de enero de 2019.16
0                                                   NaN
1                                                   NaN
2                                                   NaN
3     Dos adultos de 35 años o más, otro de 16 a 34 ...
4                                                   NaN
...                                                 ...
2488                                                  6
2489                                                  3
2490                                                  6
2491                                                NaN
2492                                                NaN

                                                                                                  \
     Explotación estadística del Padrón Municipal de Habitantes revisado a 1 de enero de 2019.17
0                                                   NaN
1                                                   NaN
2                                                   NaN
3         Otro hogar de tres adultos, con o sin menores
4                                                   NaN
...                                                 ...
2488                                                 29
2489                                                 22
2490                                                 43
2491                                                NaN
2492                                                NaN

                                                                                                  \
     Explotación estadística del Padrón Municipal de Habitantes revisado a 1 de enero de 2019.18
0                                                   NaN
1                                                   NaN
2                                                   NaN
3     Dos adultos de 35 años o más, dos de 16 a 34 a...
4                                                   NaN
...                                                 ...
2488                                                 25
2489                                                 27
2490                                                 12
2491                                                NaN
2492                                                NaN

                                                                                                  \
     Explotación estadística del Padrón Municipal de Habitantes revisado a 1 de enero de 2019.19
0                                                   NaN
1                                                   NaN
2                                                   NaN
3     Dos adultos de 35 años o más, dos de 16 a 34 a...
4                                                   NaN
...                                                 ...
2488                                                  6
2489                                                  7
2490                                                  2
2491                                                NaN
2492                                                NaN

                                                                                                  \
     Explotación estadística del Padrón Municipal de Habitantes revisado a 1 de enero de 2019.20
0                                                   NaN
1                                                   NaN
2                                                   NaN
3     Dos adultos de 35 años o más, dos  de 16 a 34 ...
4                                                   NaN
...                                                 ...
2488                                                  0
2489                                                  0
2490                                                  1
2491                                                NaN
2492                                                NaN

                                                                                                  \
     Explotación estadística del Padrón Municipal de Habitantes revisado a 1 de enero de 2019.21
0                                                   NaN
1                                                   NaN
2                                                   NaN
3       Otro hogar de cuatro adultos, con o sin menores
4                                                   NaN
...                                                 ...
2488                                                 17
2489                                                  6
2490                                                 11
2491                                                NaN
2492                                                NaN

                                                                                                  \
     Explotación estadística del Padrón Municipal de Habitantes revisado a 1 de enero de 2019.22
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                Cinco o más adultos, con o sin menores
4                                                   NaN
...                                                 ...
2488                                                 23
2489                                                  9
2490                                                 13
2491                                                NaN
2492                                                NaN

                                                                                                  \
     Explotación estadística del Padrón Municipal de Habitantes revisado a 1 de enero de 2019.23
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                         Hogar con 15 ó más habitantes
4                                                   NaN
...                                                 ...
2488                                                  0
2489                                                  1
2490                                                  3
2491                                                NaN
2492                                                NaN


     Explotación estadística del Padrón Municipal de Habitantes revisado a 1 de enero de 2019.24
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                             Hogares con menores solos
4                                                   NaN
...                                                 ...
2488                                                  0
2489                                                  2
2490                                                  1
2491                                                NaN
2492                                                NaN

[2493 rows x 25 columns]

In [ ]:
# connect to an in-memory temporary database
con = duckdb.connect()
con.register("madrid_df", data)
con.execute("SELECT municipio_codigo FROM madrid_df WHERE distrito_nombre = 'Arganzuela'").fetchdf()

     municipio_codigo
0                  79
1                  79
2                  79
3                  79
4                  79
..                ...
135                79
136                79
137                79
138                79
139                79

[140 rows x 1 columns]