# Trusted Zone  - Nationalities

In [1]:
import duckdb

In [2]:
con = duckdb.connect('nationalities.duckdb')
con.execute("SELECT * FROM nationalities").df()

,Code,Madrid,Habitantes_2018,Españoles_2018,Extranjeros_2018,Alemania_2018,Austria_2018,Bélgica_2018,Bulgaria_2018,Chipre_2018,...,Uzbekistán_2020,Vietnam_2020,Yemen_2020,Otros_Países_de_Asia_2020,Australia_2020,Fiji_2020,Nueva_Zelanda_2020,Timor_Oriental_2020,Vanuatu_2020,Otros_Países_de_Oceanía_2020
0,0014,Acebeda (La),65.0,64.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0029,Ajalvir,4559.0,3953.0,606.0,8.0,0.0,1.0,13.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0035,Alameda del Valle,195.0,192.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0040,Alamo (El),9353.0,8143.0,1210.0,1.0,0.0,1.0,12.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0053,Alcalá de Henares,193751.0,163933.0,29818.0,89.0,12.0,13.0,1351.0,0.0,...,3.0,13.0,11.0,2.0,7.0,0.0,2.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372,0796107,Las Aguilas,51128.0,45760.0,5368.0,16.0,1.0,3.0,271.0,0.0,...,1.0,14.0,1.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0
373,0796175,Los Angeles,30516.0,26065.0,4451.0,7.0,10.0,2.0,82.0,1.0,...,0.0,2.0,1.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0
374,1147,Piñuecar-Gandullas,171.0,162.0,9.0,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
376,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0