# Trusted zone - Nationalities

In [1]:
import duckdb
import pandas as pd

import os, sys
module_path = os.path.abspath(os.path.join('../../..'))
if module_path not in sys.path:
    sys.path.append(module_path)

from utils import  DBtable_to_df, df_to_DBtable, select_version

In [2]:
df = DBtable_to_df('../../nationalities.duckdb','nationalities')

## Duplicates

### By rows
We have analyzed the dataset in search of repaeated rows with the function `duplicated` and as we can see we haven't found any duplicate row.

In [3]:
duplicate = df[df.duplicated()]
duplicate

Empty DataFrame
Columns: [Madrid_section, Españoles, Alemania, Austria, Bélgica, Bulgaria, Chipre, Croacia, Dinamarca, Eslovaquia, Eslovenia, Estonia, Finlandia, Francia, Grecia, Hungría, Irlanda, Italia, Letonia, Lituania, Luxemburgo, Malta, Países_Bajos, Polonia, Portugal, Reino_Unido, República_Checa, Rumanía, Suecia, Albania, Andorra, Armenia, Belarús, Bosnia_y_Herzegovina, Georgia, Islandia, Liechtenstein, Macedonia, Moldavia, Mónaco, Montenegro, Noruega, Rusia, San_Marino, Santa_Sede, Serbia, Suiza, Turquía, Ucrania, Otros_Países_de_Europa, Angola, Argelia, Benin, Botswana, Burkina_Faso, Burundi, Cabo_Verde, Camerún, Chad, Comoras, Congo, Costa_de_Marfil, Egipto, Eritrea, Etiopía, Gabón, Gambia, Ghana, Guinea, Guinea_Bissau, Guinea_Ecuatorial, Kenia, Lesotho, Liberia, Libia, Madagascar, Malawi, Mali, Marruecos, Mauricio, Mauritania, Mozambique, Namibia, Níger, Nigeria, República_Centroafricana, República_Democrática_del_Cong, Ruanda, Santo_Tomé_y_Príncipe, Senegal, Seychelles, Sierra_Leona, Somalia, Sudáfrica, Sudán, Sudán_del_Sur, Swazilandia, Tanzania, Togo, Túnez, ...]
Index: []

[0 rows x 195 columns]

### By columns
Moreover, we have analyzed the dataset in search of duplicate columns, which could have been created at the time of joining the versions with the function `difference`. All those were removed

In [4]:
df2018 = DBtable_to_df('../../nationalities.duckdb','nationalities2018')
df2019 = DBtable_to_df('../../nationalities.duckdb','nationalities2019')
df2020 = DBtable_to_df('../../nationalities.duckdb','nationalities2020')

Between the version of 2018 and 2019 as we can see there is a difference and there are duplicated columns.

In [5]:
(df2018.columns).difference(df2019.columns)

Index(['Bielorrusia', 'Djibouti', 'Islas_Marshall', 'Surinam', 'Vanuatu'], dtype='object')

Between the version of 2018 and 2020 as we can see there is a difference and there are duplicated columns.

In [6]:
(df2018.columns).difference(df2020.columns)

Index(['Bielorrusia', 'Islas_Marshall', 'Papúa_Nueva_Guinea',
       'República_Democrática_del_Cong', 'San_Vicente_y_Las_Granadinas',
       'Surinam'],
      dtype='object')

Between the version of 2019 and 2020 as we can see there is a difference and there are duplicated columns.

In [7]:
(df2019.columns).difference(df2020.columns)

Index(['Papúa_Nueva_Guinea', 'República_Democrática_del_Cong', 'Samoa',
       'San_Vicente_y_Las_Granadinas'],
      dtype='object')

We mange it in this way

In [8]:
def remove_nat_duplicates():

    n2018 = select_version('../../nationalities.duckdb', 'nationalities', '2018')
    n2018 = n2018[n2018.columns.difference(['Belarús','República_Democrática_del_Congo' ])] # remove empty columns Belarús and República_Democrática_del_Congo
    n2018 = n2018.rename(columns = {'Bielorrusia':'Belarús', 'República_Democrática_del_Cong':'República_Democrática_del_Congo'})  #rename in right format

    n2019 = select_version('../../nationalities.duckdb', 'nationalities', '2019')
    n2019 = n2019[n2019.columns.difference(['Bielorrusia','República_Democrática_del_Cong' ])] # remove empty columns Bielorrusia and República_Democrática_del_Cong


    n2020 = select_version('../../nationalities.duckdb', 'nationalities', '2020')
    n2020 = n2020[n2020.columns.difference(['Bielorrusia','República_Democrática_del_Cong' ])] # remove empty columns  Bielorrusia and República_Democrática_del_Cong

    cleanNatTable =  pd.concat([n2018, n2019, n2020],ignore_index = True)
    df_to_DBtable('../../nationalities.duckdb',cleanNatTable, 'nationalitiesClean')

remove_nat_duplicates()