In [1]:
import os
from traceback import print_tb
import pandas as pd
import duckdb

import os, sys 
from pathlib import Path
tmp = Path.cwd()
print(tmp)
os.chdir(Path.cwd().parent)


if Path.cwd() not in sys.path:
 sys.path.append(Path.cwd())

import utils


os.chdir(tmp)
#print(tmp)

/Users/miona.dimic/Desktop/MDS/ADSDB/project/mimi-adsdb/Notebooks/4.Exploitation zone

## Join two sources into one table

In [2]:
con = duckdb.connect('../integration.duckdb')
nationalites = con.execute(f'SELECT * FROM nationalitiesClean_Madrid').df()
households = con.execute(f'SELECT * FROM householdClean_Madrid').df()
con.close()


result = households.merge(nationalites, how='inner', on=["Madrid_section","Year"])

utils.df_to_DBtable('../integration.duckdb',result, 'integratedTable')

In [3]:
# check if all tables in integration.duckdb are created
con = duckdb.connect('../integration.duckdb')
int_tables = con.execute(f'SELECT table_name FROM information_schema.tables').df()
con.close()
int_tables

                  table_name
0  nationalitiesClean_Madrid
1      householdClean_Madrid
2            integratedTable