# Trusted zone - Household

In [1]:
import os, sys
module_path = os.path.abspath(os.path.join('../..'))
if module_path not in sys.path:
    sys.path.append(module_path)

from utils import  DBtable_to_df, select_version

In [2]:
df = DBtable_to_df('../../household.duckdb','household')

## Duplicates

### By rows
We have analyzed the dataset in search of repaeated rows with the function `duplicated` and as we can see we haven't found any duplicate row.

In [3]:
duplicate = df[df.duplicated()]
duplicate

Empty DataFrame
Columns: [section, population, single_women_aged_16_to_64, single_men_aged_16_to_64, single_women_aged_65_or_over, single_men_aged_65_or_over, adult_women_with_one_or_more_minors, adult_men_with_one_or_more_minors, two_adults_from_16_to_64_and_without_minors, two_adults_one_at_least_65_and_without_minors, two_adults_and_one_minor, two_adults_and_two_minors, two_adults_and_three_or_more_minors, two_adults_over_35_and_one_adult_from_16_to_34, two_adults_over_35_and_one_adult_from_16_to_34_and_one_minor, two_adults_over_35_and_one_adult_from_16_to_34_and_two_minors, three_adults_and_0_or_more_minors, two_adults_over_35_and_two_adults_from_16_to_34, two_adults_over_35_and_two_adults_from_16_to_34_and_one_minor, two_adults_over_35_and_two_adults_from_16_to_34_and_two_or_more_minors, four_adults_and_0_or_more_minors, five_adults_and_0_or_more_minors, fifteen_or_more_inhabitants, only_minors, Year]
Index: []

[0 rows x 25 columns]

### By columns
Moreover, we have analyzed the dataset in search of duplicate columns, which could have been created at the time of joining the versions with the function `difference`. But we haven't found any duplicate column among versions because of language, accents, ... they all meet with the same name.

In [4]:
df2018 = select_version('../../household.duckdb','household', '2018')
df2019 = select_version('../../household.duckdb','household', '2019')
df2020 = select_version('../../household.duckdb','household', '2020')

Between the version of 2018 and 2019 as we can see there is no difference, so no treatment has been done.

In [5]:
(df2018.columns).difference(df2019.columns)

Index([], dtype='object')

Between the version of 2018 and 2020 as we can see there is no difference, so no treatment has been done.

In [6]:
(df2018.columns).difference(df2020.columns)

Index([], dtype='object')

Between the version of 2019 and 2020 as we can see there is no difference, so no treatment has been done.

In [7]:
(df2019.columns).difference(df2020.columns)

Index([], dtype='object')