In [1]:
import os, sys
module_path = os.path.abspath(os.path.join('../..'))
if module_path not in sys.path:
    sys.path.append(module_path)

import utils

In [2]:
dfh = utils.DBtable_to_df('../household.duckdb','householdClean')
dfn = utils.DBtable_to_df('../nationalities.duckdb','nationalitiesClean')

### ETL household table

In [3]:
def etl_household(dfh):
    dfh['section'] = dfh.section.astype('int32').astype('str') # (float to int) to string 
    dfh['section'] = dfh.section.apply(lambda s: '0796' + s if len(s) == 5 else '07960' + s)
    dfh = dfh.rename(columns = {'section':'Madrid_section', 'habitantes':'suma de categor√≠as de hogares'})  # rename in right format
    utils.df_to_DBtable(f'../integration.duckdb',dfh, 'householdClean_Madrid')

etl_household(dfh)

In [4]:

utils.DBtable_to_df('../integration.duckdb','householdClean_Madrid')

,Madrid_section,single_women_aged_16_to_64,single_men_aged_16_to_64,single_women_aged_65_or_over,single_men_aged_65_or_over,adult_women_with_one_or_more_minors,adult_men_with_one_or_more_minors,two_adults_from_16_to_64_and_without_minors,two_adults_one_at_least_65_and_without_minors,two_adults_and_one_minor,...,two_adults_over_35_and_one_adult_from_16_to_34_and_two_minors,three_adults_and_0_or_more_minors,two_adults_over_35_and_two_adults_from_16_to_34,two_adults_over_35_and_two_adults_from_16_to_34_and_one_minor,two_adults_over_35_and_two_adults_from_16_to_34_and_two_or_more_minors,four_adults_and_0_or_more_minors,five_adults_and_0_or_more_minors,fifteen_or_more_inhabitants,only_minors,Year
0,079601001,72.0,86.0,63.0,16.0,10.0,4.0,82.0,63.0,20.0,...,0.0,30.0,13.0,2.0,2.0,13.0,18.0,0.0,0.0,2018
1,079601002,100.0,91.0,36.0,19.0,7.0,0.0,89.0,28.0,13.0,...,1.0,38.0,9.0,1.0,1.0,10.0,11.0,0.0,1.0,2018
2,079601003,154.0,179.0,74.0,40.0,13.0,2.0,141.0,77.0,23.0,...,3.0,54.0,18.0,4.0,0.0,23.0,30.0,0.0,1.0,2018
3,079601004,92.0,95.0,53.0,17.0,10.0,2.0,100.0,64.0,20.0,...,3.0,46.0,15.0,3.0,0.0,14.0,16.0,1.0,0.0,2018
4,079601006,140.0,179.0,77.0,38.0,14.0,1.0,167.0,78.0,31.0,...,3.0,49.0,13.0,5.0,1.0,17.0,16.0,0.0,0.0,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7324,079621029,35.0,33.0,7.0,5.0,21.0,9.0,36.0,24.0,58.0,...,11.0,25.0,51.0,8.0,2.0,9.0,16.0,0.0,0.0,2019
7325,079621030,33.0,59.0,26.0,8.0,16.0,4.0,70.0,49.0,49.0,...,3.0,36.0,43.0,5.0,0.0,12.0,21.0,0.0,0.0,2019
7326,079621031,99.0,94.0,14.0,7.0,41.0,8.0,155.0,35.0,164.0,...,6.0,29.0,25.0,6.0,0.0,17.0,23.0,0.0,0.0,2019
7327,079621032,72.0,67.0,18.0,6.0,33.0,13.0,94.0,25.0,62.0,...,3.0,22.0,27.0,7.0,0.0,6.0,9.0,1.0,2.0,2019
7328,079621033,129.0,136.0,9.0,5.0,86.0,15.0,123.0,18.0,132.0,...,6.0,43.0,12.0,2.0,1.0,11.0,13.0,3.0,1.0,2019

### ETL Nationalities

In [5]:
def etl_nationalities(dfn):
    dfn = dfn[dfn['Madrid_section'].str.contains('0796', regex=False)] # extract only those related to Madrid municipality
    dfn = dfn.rename(columns = {'Habitantes':'suma de categor√≠as de nacionalidad'})  #rename in right format
    dfn['Madrid_section'] = dfn['Madrid_section'].str.strip() # remove extra spaces

    utils.df_to_DBtable('../integration.duckdb',dfn, 'nationalitiesClean_Madrid')

etl_nationalities(dfn)

In [6]:

utils.DBtable_to_df('../integration.duckdb','nationalitiesClean_Madrid')

,Afganist√°n,Albania,Alemania,Andorra,Angola,Antigua_y_Barbuda,Arabia_Saudita,Argelia,Argentina,Armenia,...,Uganda,Uruguay,Uzbekist√°n,Vanuatu,Venezuela,Vietnam,Year,Yemen,Zambia,Zimbabwe
0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,6.0,0.0,2018,0.0,0.0,0.0
1,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,3.0,0.0,0.0,9.0,0.0,2018,0.0,0.0,0.0
2,0.0,0.0,5.0,0.0,0.0,0.0,0.0,2.0,15.0,0.0,...,0.0,5.0,0.0,0.0,21.0,0.0,2018,0.0,0.0,0.0
3,0.0,0.0,7.0,0.0,0.0,0.0,0.0,1.0,3.0,0.0,...,1.0,2.0,0.0,0.0,14.0,0.0,2018,0.0,0.0,0.0
4,0.0,0.0,18.0,0.0,1.0,0.0,0.0,0.0,8.0,0.0,...,0.0,2.0,0.0,0.0,13.0,0.0,2018,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7324,0.0,0.0,2.0,0.0,5.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,4.0,0.0,2020,0.0,0.0,0.0
7325,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,19.0,0.0,2020,0.0,0.0,0.0
7326,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,40.0,0.0,2020,0.0,0.0,0.0
7327,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,8.0,0.0,2020,0.0,0.0,0.0
7328,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,1.0,0.0,0.0,22.0,0.0,2020,0.0,0.0,1.0

## Test

In [7]:
# check if clean tables are in integration.duckdb are created
utils.get_tables('../integration.duckdb')

0    nationalitiesClean_Madrid
1        householdClean_Madrid
Name: table_name, dtype: object

In [8]:
nationalites = utils.DBtable_to_df('../integration.duckdb','nationalitiesClean_Madrid')
households = utils.DBtable_to_df('../integration.duckdb','householdClean_Madrid')

# # checking if all section codes are same in both tables
nationalites['Madrid_section'].compare(households['Madrid_section'])

Empty DataFrame
Columns: [self, other]
Index: []