# Trusted zone

In [1]:
import os
from traceback import print_tb
import pandas as pd
import duckdb

import os, sys 
from pathlib import Path
tmp = Path.cwd()
print(tmp)
os.chdir(Path.cwd().parent)


if Path.cwd() not in sys.path:
 sys.path.append(Path.cwd())

import utils


os.chdir(tmp)
#print(tmp)

/Users/miona.dimic/Desktop/MDS/ADSDB/project/mimi-adsdb/Notebooks/3.Trusted zone

In [2]:

def pre_join(DB):
    """
    Adds a version (year) column to all `DB` tables in order to do the joining.
    Returns all the `DB` tables in data frame format.
    """
    tablesDB = utils.get_tables(DB)
    dfs = []
    for table in tablesDB:
        year = table[-4:]
        df = utils.DBtable_to_df(DB, table)
        # display(df)
        df['Year'] = year
        dfs.append(df)
    return dfs

def trusted_zone(DB,table):
    """
    Joins all the `DB` tables into one and stores it in the `DB`.
    """
    dfs = pre_join(DB)
    df = pd.concat(dfs, axis=0, ignore_index=True)
    #display(df)
    utils.df_to_DBtable(DB,df,table)

In [3]:
trusted_zone('../nationalities.duckdb', 'nationalities')
trusted_zone('../household.duckdb', 'household')

### Test

#### nationalities

In [4]:
# nationalities joined
con = duckdb.connect('../nationalities.duckdb')
view_nationalities = con.execute(f'SELECT * FROM nationalities').df()
display(view_nationalities)
con.close()

,Madrid_section,Habitantes,Españoles,Extranjeros,Alemania,Austria,Bélgica,Bulgaria,Chipre,Croacia,...,Samoa,Timor_Oriental,Otros_Países_de_Oceanía,Year,Bielorrusia,Djibouti,Surinam,Islas_Marshall,Vanuatu,República_Democrática_del_Congo
0,0014,84.0,83.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2019,NaN,NaN,NaN,NaN,NaN,NaN
1,001401,84.0,83.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2019,NaN,NaN,NaN,NaN,NaN,NaN
2,001401001,84.0,83.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2019,NaN,NaN,NaN,NaN,NaN,NaN
3,0029,4712.0,4098.0,614.0,8.0,0.0,1.0,9.0,0.0,0.0,...,0.0,0.0,0.0,2019,NaN,NaN,NaN,NaN,NaN,NaN
4,002901,4712.0,4098.0,614.0,8.0,0.0,1.0,9.0,0.0,0.0,...,0.0,0.0,0.0,2019,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14518,182101,262.0,235.0,27.0,0.0,0.0,0.0,4.0,0.0,0.0,...,NaN,0.0,0.0,2020,NaN,0.0,NaN,NaN,0.0,0.0
14519,182101001,262.0,235.0,27.0,0.0,0.0,0.0,4.0,0.0,0.0,...,NaN,0.0,0.0,2020,NaN,0.0,NaN,NaN,0.0,0.0
14520,1837,1734.0,1475.0,259.0,1.0,0.0,0.0,1.0,0.0,0.0,...,NaN,0.0,0.0,2020,NaN,0.0,NaN,NaN,0.0,0.0
14521,183701,1734.0,1475.0,259.0,1.0,0.0,0.0,1.0,0.0,0.0,...,NaN,0.0,0.0,2020,NaN,0.0,NaN,NaN,0.0,0.0
14522,183701001,1734.0,1475.0,259.0,1.0,0.0,0.0,1.0,0.0,0.0,...,NaN,0.0,0.0,2020,NaN,0.0,NaN,NaN,0.0,0.0

#### household

In [5]:
# households joined
con = duckdb.connect('../household.duckdb')
view_household = con.execute(f'SELECT * FROM household').df()
display(view_household)
con.close()

,section,habitantes,single_women_aged_16_to_64,single_men_aged_16_to_64,single_women_aged_65_or_over,single_men_aged_65_or_over,adult_women_with_one_or_more_minors,adult_men_with_one_or_more_minors,two_adults_from_16_to_64_and_without_minors,two_adults_one_at_least_65_and_without_minors,...,two_adults_over_35_and_one_adult_from_16_to_34_and_two_minors,three_adults_and_0_or_more_minors,two_adults_over_35_and_two_adults_from_16_to_34,two_adults_over_35_and_two_adults_from_16_to_34_and_one_minor,two_adults_over_35_and_two_adults_from_16_to_34_and_two_or_more_minors,four_adults_and_0_or_more_minors,five_adults_and_0_or_more_minors,fifteen_or_more_inhabitants,only_minors,Year
0,Ciudad de Madrid,1290164.0,117454.0,115691.0,126044.0,36720.0,27171.0,5491.0,158487.0,174284.0,...,9057.0,104079.0,51419.0,8009.0,3438.0,46977.0,53887.0,552.0,405.0,2019
1,01. Centro,67296.0,11627.0,13352.0,5117.0,2171.0,922.0,194.0,12698.0,5244.0,...,214.0,4341.0,1062.0,184.0,84.0,1711.0,1934.0,44.0,33.0,2019
2,1001.0,559.0,67.0,88.0,62.0,16.0,9.0,4.0,101.0,69.0,...,1.0,35.0,11.0,4.0,2.0,13.0,17.0,0.0,1.0,2019
3,1002.0,471.0,99.0,89.0,36.0,15.0,5.0,3.0,84.0,29.0,...,0.0,41.0,11.0,1.0,0.0,13.0,12.0,0.0,0.0,2019
4,1003.0,855.0,147.0,151.0,71.0,42.0,7.0,1.0,144.0,75.0,...,2.0,54.0,16.0,5.0,1.0,20.0,35.0,0.0,2.0,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7390,21029.0,519.0,32.0,29.0,6.0,5.0,20.0,12.0,45.0,19.0,...,10.0,29.0,49.0,7.0,2.0,8.0,12.0,0.0,0.0,2018
7391,21030.0,566.0,37.0,46.0,29.0,11.0,19.0,6.0,68.0,52.0,...,3.0,39.0,41.0,3.0,0.0,14.0,16.0,0.0,0.0,2018
7392,21031.0,887.0,88.0,91.0,15.0,6.0,39.0,9.0,156.0,31.0,...,6.0,28.0,21.0,6.0,2.0,10.0,16.0,0.0,0.0,2018
7393,21032.0,627.0,65.0,71.0,17.0,4.0,27.0,13.0,82.0,23.0,...,2.0,21.0,30.0,5.0,0.0,7.0,6.0,1.0,1.0,2018
7394,21033.0,775.0,105.0,127.0,7.0,3.0,67.0,11.0,111.0,14.0,...,4.0,25.0,7.0,2.0,1.0,13.0,12.0,2.0,0.0,2018