# Trusted zone

In [1]:
import pandas as pd

import os, sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

import utils

In [2]:

def pre_join(DB):
    """
    Adds a version (year) column to all `DB` tables in order to do the joining.
    Returns all the `DB` tables in data frame format.
    """
    tablesDB = utils.get_tables(DB)
    dfs = []
    for table in tablesDB:
        year = table[-4:]
        df = utils.DBtable_to_df(DB, table)
        df['Year'] = year
        dfs.append(df)
    return dfs

def trusted_zone(DB,table):
    """
    Joins all the `DB` tables into one and stores it in the `DB`.
    """
    dfs = pre_join(DB)
    df = pd.concat(dfs, axis=0, ignore_index=True)
    #display(df)
    utils.df_to_DBtable(DB,df,table)

In [3]:
trusted_zone('../nationalities.duckdb', 'nationalities')
trusted_zone('../household.duckdb', 'household')

### Test

#### nationalities

In [4]:
# nationalities joined
utils.DBtable_to_df('../nationalities.duckdb','nationalities')

,Madrid_section,Habitantes,Españoles,Extranjeros,Alemania,Austria,Bélgica,Bulgaria,Chipre,Croacia,...,Samoa,Timor_Oriental,Otros_Países_de_Oceanía,Year,Bielorrusia,Djibouti,Surinam,Islas_Marshall,Vanuatu,República_Democrática_del_Congo
0,001401001,84.0,83.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2019,NaN,NaN,NaN,NaN,NaN,NaN
1,002901001,2295.0,2008.0,287.0,6.0,0.0,0.0,5.0,0.0,0.0,...,0.0,0.0,0.0,2019,NaN,NaN,NaN,NaN,NaN,NaN
2,002901002,2417.0,2090.0,327.0,2.0,0.0,1.0,4.0,0.0,0.0,...,0.0,0.0,0.0,2019,NaN,NaN,NaN,NaN,NaN,NaN
3,003501001,200.0,192.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2019,NaN,NaN,NaN,NaN,NaN,NaN
4,004001001,2902.0,2479.0,423.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2019,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13243,181601014,2171.0,1978.0,193.0,2.0,0.0,2.0,2.0,0.0,0.0,...,NaN,0.0,0.0,2020,NaN,0.0,NaN,NaN,0.0,0.0
13244,181601015,2279.0,2123.0,156.0,1.0,1.0,0.0,0.0,0.0,0.0,...,NaN,0.0,0.0,2020,NaN,0.0,NaN,NaN,0.0,0.0
13245,181601016,1279.0,1132.0,147.0,15.0,0.0,0.0,1.0,0.0,1.0,...,NaN,0.0,0.0,2020,NaN,0.0,NaN,NaN,0.0,0.0
13246,182101001,262.0,235.0,27.0,0.0,0.0,0.0,4.0,0.0,0.0,...,NaN,0.0,0.0,2020,NaN,0.0,NaN,NaN,0.0,0.0
13247,183701001,1734.0,1475.0,259.0,1.0,0.0,0.0,1.0,0.0,0.0,...,NaN,0.0,0.0,2020,NaN,0.0,NaN,NaN,0.0,0.0

#### household

In [5]:
utils.DBtable_to_df('../household.duckdb','household')

,section,population,single_women_aged_16_to_64,single_men_aged_16_to_64,single_women_aged_65_or_over,single_men_aged_65_or_over,adult_women_with_one_or_more_minors,adult_men_with_one_or_more_minors,two_adults_from_16_to_64_and_without_minors,two_adults_one_at_least_65_and_without_minors,...,two_adults_over_35_and_one_adult_from_16_to_34_and_two_minors,three_adults_and_0_or_more_minors,two_adults_over_35_and_two_adults_from_16_to_34,two_adults_over_35_and_two_adults_from_16_to_34_and_one_minor,two_adults_over_35_and_two_adults_from_16_to_34_and_two_or_more_minors,four_adults_and_0_or_more_minors,five_adults_and_0_or_more_minors,fifteen_or_more_inhabitants,only_minors,Year
0,1001.0,568.0,75.0,93.0,52.0,17.0,6.0,5.0,97.0,74.0,...,2.0,36.0,11.0,3.0,0.0,20.0,20.0,0.0,0.0,2020
1,1002.0,492.0,111.0,99.0,32.0,17.0,4.0,1.0,96.0,30.0,...,0.0,33.0,6.0,1.0,0.0,15.0,14.0,0.0,0.0,2020
2,1003.0,862.0,137.0,164.0,68.0,43.0,7.0,2.0,148.0,80.0,...,3.0,50.0,16.0,7.0,0.0,28.0,37.0,0.0,0.0,2020
3,1004.0,600.0,103.0,100.0,55.0,23.0,4.0,0.0,77.0,71.0,...,3.0,48.0,12.0,2.0,1.0,18.0,19.0,2.0,0.0,2020
4,1006.0,888.0,123.0,174.0,82.0,47.0,12.0,1.0,181.0,75.0,...,3.0,57.0,14.0,2.0,1.0,15.0,23.0,0.0,0.0,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7324,21029.0,519.0,32.0,29.0,6.0,5.0,20.0,12.0,45.0,19.0,...,10.0,29.0,49.0,7.0,2.0,8.0,12.0,0.0,0.0,2018
7325,21030.0,566.0,37.0,46.0,29.0,11.0,19.0,6.0,68.0,52.0,...,3.0,39.0,41.0,3.0,0.0,14.0,16.0,0.0,0.0,2018
7326,21031.0,887.0,88.0,91.0,15.0,6.0,39.0,9.0,156.0,31.0,...,6.0,28.0,21.0,6.0,2.0,10.0,16.0,0.0,0.0,2018
7327,21032.0,627.0,65.0,71.0,17.0,4.0,27.0,13.0,82.0,23.0,...,2.0,21.0,30.0,5.0,0.0,7.0,6.0,1.0,1.0,2018
7328,21033.0,775.0,105.0,127.0,7.0,3.0,67.0,11.0,111.0,14.0,...,4.0,25.0,7.0,2.0,1.0,13.0,12.0,2.0,0.0,2018